<div id='lobby_screen'>
    <div id='header'>
        <div id='header_inner'>
            <h1 id='title'><%= room.name %></h1>
            <div id='menu'>
                <div id='menu_inner'>
                    <ul id='owner_menu' class='menu privileged_item'>
                        <li>
                            <a href="#" class='menu_top'>メニュー</a>
                            <ul>
                                <li><a href="/destroy_room">この部屋を削除</a></li>
                                <li><a href="javascript:show_authority_transfer_form()">権限を譲渡</a></li>
                                <li><a href="/">部屋を出る</a></li>
                                <li><a href="/logout">ログアウト</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul id='guest_menu' class='menu unprivileged_item'>
                        <li>
                            <a href='#' class='menu_top'>メニュー</a>
                            <ul>
                                <li><a href="/">部屋を出る</a></li>
                                <li><a href="/logout">ログアウト</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id='content'>
        <div id='leftside'>
            <div id='chat_area_l' class='main_section'>
                <h2>チャット</h2>
                <div id='chat_view_l'></div>
                <div id='chat_input_area_l'>
                    <input type='text' id='chat_textbox_l'></input>
                    <a id='diceroll' href='javascript:dice_1d100()'>
                        <img id='die_img' src='/images/die.png' />
                    </a>
                </div>
            </div>
        </div>
        <div id='rightside'>
            <div id='controlarea' class='main_section'>
                <div id='player_select_area'>
                    <div id='not_player_area'>
                        <h2>観戦者</h2>
                        <div id='not_player_list_area'>
                            <ul class='room_member_list' id='not_player_list'>
                            </ul>
                        </div>
                    </div>
                    <div id='player_area'>
                        <h2>参加者</h2>
                        <div id='player_list_area'>
                            <ul class='room_member_list' id='player_list'>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id='start_button_area'>
                <a href='javascript:on_start_button_clicked()' class='anchor_button privileged_item'>ゲームスタート</a>
            </div>
        </div>
    </div>
</div>
<div id='playing_screen'>
    <div style="display: none">
        <img id="icon_chance" src="/resources/catan/icon_chance_1506212242.png">
        <img id="icon_resource" src="/resources/catan/icon_resource_1511042202.png">
        <img id="icon_land" src="/resources/catan/icon_land_1507012141.png">
        <img id="land_edge" src="/resources/catan/land_edge_withP_1508152147.png">
        <img id="font_land" src="/resources/catan/font_land_1507052218.png">
        <img id="board_object" src="/resources/catan/structures_1507082305.png">
        <img id='icon_button' src='/resources/catan/icon_button_1511082227.png'>
        <img id='trade_button_clear' src='/resources/catan/trade_button_clear.png'>
        <img id='trade_base' src='/resources/catan/trade_oversea_1508162228.png'>
        <img id='trade_base_clear' src='/resources/catan/trade_base_clear_1508111027.png'>
        <img id='spinbox_button' src='/resources/catan/spinbox_button.png'>
        <img id='trade_form_decide_button' src='/resources/catan/trade_form_decide_button.png'>
        <img id='trade_button_mousedown' src='/resources/catan/trade_button_1508112337.png'>
        <img id='icon_robber' src='/resources/catan/icon_robber_1508162130.png'>
        <img id='trade_player_base' src='/resources/catan/trade_player_1508162206.png'>
        <img id='trade_confirm_button' src='/resources/catan/trade_alternative_button_1508162259.png'>
        <img id='icon_chance_card' src='/resources/catan/ChanceCard_1508160030.png'>
        <img id='icon_dice' src='/resources/catan/icon_dice_1508192321.png'>
        <img id='harvest_form' src='/resources/catan/harvest_1508222150.png'>
        <img id='monopoly_form' src='/resources/catan/monopoly_1508222151.png'>
        <img id='robber_screen' src='/resources/catan/robber_screen_1508282248.png'>
        <img id='burst_form' src='/resources/catan/burst_1508282208.png'>
        <img id='burst_button' src='/resources/catan/burst_button_1508282208.png'>
        <img id='chance_used' src='/resources/catan/chance_used_1509030000.png'>
        <img id='chance_available' src='/resources/catan/chance_available_1509022317.png'>
        <img id='special_card' src='/resources/catan/special_1509022338.png'>
        <img id='chance_other_used' src='/resources/catan/chance_otherused_1509022358.png'>
        <img id='victory_screen' src='/resources/catan/victory_screen_1509030028.png'>
        <img id='resource_amount' src='/resources/catan/resource_amount_1511160001.png'>
        <img id='burst_screen' src='/resources/catan/burst_screen_1512132153.png'>
        <audio id='notification_sound' src='/resources/catan/notification.mp3'>
        <audio id='notification_sound2' src='/resources/catan/notification2.mp3'>
        <audio id='notification_sound3' src='/resources/catan/notification3.mp3'>
        <audio id='notification_sound4' src='/resources/catan/notification4.mp3'>
    </div>
    <div id='board_container'>
        <canvas id="board" width='960' height='704'></canvas>
        <div id='systemlog_area' class='log_area'></div>
        <div id='chat_area' class='log_area'></div>
        <input type="text" id='chat_textbox'>
        <div id='hint_area'></div>
        <input type='button' id='back_button' text='待機画面に戻る'>
        <canvas id='overlay' width='960' height='280' style="display: none"></canvas>
    </div>
</div>
<div id='authority_transfer_screen'>
    <div id='authority_transfer_form'>
        <div id='at_new_owner_list'>
        </div>
        <div id='at_button_area'>
            <input type='button' id='transfer_authority_button' value='譲渡する' onclick='transfer_authority()'>
            <input type='button' value='キャンセル' onclick='hide_authority_transfer_form()'>
        </div>
    </div>
</div>
<div id='loading_screen'>
    <div id='loading_message1'>
        <div id='loading_message2'>
            Loading...<img src='/images/loading.gif'>
        </div>
    </div>
</div>
