
<div id='room_info_area' class='main_section'>
  <div id='room_control_area'>
    <% if current_user %>
      <% if $owner_map[current_user.user_id] %>
        <a id='delete_room_button' href='/destroy_room' class='anchor_button'>自分の部屋を削除する</a>
      <% else %>
        <a id='new_room_button' href='javascript:show_new_room_form()' class='anchor_button'>新しい部屋を作る</a>
      <% end %>
    <% end %>
  </div>
  <table id='room_table'>
    <thead id='room_table_header'>
      <tr>
        <th></th>
        <th>部屋名</th>
        <th>ルームマスター</th>
        <th>参加人数</th>
        <th>状態</th>
      </tr>
    </thead>
    <tbody id='room_table_body'>
    </tbody>
  </table>
</div>

<div id='description_area', class='main_section'>
    <h2>Online Catanへようこそ。</h2>
    <p>このサイトでは、Twitterのアカウントを利用して、「カタンの開拓者たち」風のゲームを遊ぶことができます。</p>
    <p>最新のブラウザでご利用ください！<br/>(HTML5 canvas, websocket, CSS3を使用しています)</p>
</div>

<div id='new_room_screen'>
    <div id='new_room_form'>
        <h1>新しい部屋を作る</h1>
        <hr/>
        <%= form_tag('/create_room') { %>
            <div>
                <%= label_tag 'name', '部屋名', class: 'before_box' %>
                <%= text_field_tag 'name' %>
            </div>
            <div>
                <div>
                    <%= check_box_tag 'has_pass', '1', false, id: 'has_pass_checkbox' %>
                    <%= label_tag 'has_pass_checkbox', 'パスワードを設定する', class: 'after_box' %>
                </div>
                <div>
                    <%= label_tag 'pass', 'パスワード', class: 'before_box' %>
                    <%= text_field_tag 'pass', '', id: 'pass_textbox', disabled: true %>
                </div>
            </div>
            <div id='button_area'>
                <%= button_tag 'キャンセル', type: 'button', onclick:'javascript:hide_new_room_form()', class:'anchor_button' %>
                <%= submit_tag '作成', class: 'anchor_button' %>
            </div>
        <% } %>
    </div>
</div>

