<% $rooms.each { |k, v| %>
  <tr>
    <td>
      <% if v.password and v.password != '' %>
        <img src='/images/locked_icon.png' class='room_locked_icon' />
      <% else %>
        <img src='/images/unlocked_icon.png' class='room_locked_icon' />
      <% end %>
    </td>
    <td><%= v.name %></td>
    <td><%= v.owner_name %></td>
    <td><%= v.room_members.length %></td>
    <td>
      <% if v.is_playing %>
        プレイ中
      <% else %>
        待機中
      <% end %>
    </td>
    <% if current_user %>
      <td><%= link_to '参加', "/room/#{ v.room_id }", class: 'anchor_button' %></td>
    <% end %>
  </tr>
<% } %>

