body, html {
    margin: 0;
    height: 100%;
}

/* General */
.anchor_button {
    text-decoration: none;
    margin: 10px;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    background-color: #7d7d7d;
    color: #fff;
    -webkit-border-radius: 7px;
       -moz-border-radius: 7px;
            border-radius: 7px;
    -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.15);
       -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.15);
            box-shadow: 0px 1px 3px rgba(0,0,0,0.15);
    border: none;
}

input[type='text']:disabled {
    background-color: #bbbbbb;
}

h1 {
    margin: 0;
    font-size: xx-large;
    font-weight: 600;
}

/* For header */

#header {
    position: fixed;
    top: 0;
    left: 0;
    display: table;
    width: 100%;
    height: 50px;
    background-color: #333;
    color: #fff;
}

#header_inner {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
}

#logo_area {
    float: left;
    font-size: xx-large;
}

#login_area {
    float: right;
    padding: 0;
}

#login_area_inner {
    height: 50px;
    display: table-cell;
    vertical-align: middle;
}

#loginout_button {
    margin: 0;
}

/* For content */

#content {
    padding-top: 65px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    background-color: #6CA7D4;
    min-height: 100%;
}

.main_section {
    max-width: 600px;
    background-color: #E6E6E6;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.room_locked_icon {
    height: 1em;
    width: 1em;
}

/* For room table section */

#room_control_area {
    padding: 0.5em;
    text-align: right;
}

#room_control_area .anchor_button {
    margin: 0;
    margin-top: 0.5em;
}

#new_room_button {
    margin-right: 0;
}

#room_table {
    border-collapse: collapse;
    width: 100%;
    text-align: left;
}

#room_table thead {
    border-bottom: 10px solid transparent;
}

#room_table th {
    border: 1px none #333;
}

#room_table td {
    border: 1px none #333;
}

#room_table tbody {
    background-color: #ccc;
}

/* For footer */

#footer {
}

/* for new_room_screen */
#new_room_screen {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(80,80,80,0.9);
    display: none;
}

#new_room_form {
    font: 1em sans-serif;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    background-color: #fff;
    width: 300px;
    -webkit-border-radius: 7px;
       -moz-border-radius: 7px;
            border-radius: 7px;
    padding: 30px;
}

#new_room_form label.before_box {
    display: inline-block;
    width: 90px;
}

#new_room_form label.after_box {
}

#new_room_form #button_area {
    text-align: right;
}

