#change_form #registry_form {
    font: 1em sans-serif;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    width: 250px;
    -webkit-border-radius: 7px;
       -moz-border-radius: 7px;
            border-radius: 7px;
    padding: 30px;
}

label.before_box {
    display: inline-block;
    width: 90px;
}

label.after_box {
}

#change_form #registry_form #button_area {
    text-align: right;
}
