/* Place all the styles related to the room controller here.
 * They will automatically be included in application.css.
 * You can use Sass (SCSS) here: http://sass-lang.com/
 *= require jquery-ui
 *= require dropit
 */

html, body {
    height: 100%;
}

body {
    margin: 0;
}

a img {
    border: none;
    background-color: transparent;
}

a {
    background-color: transparent;
}

h1, h2 {
    margin: 0;
    color: #fff;
}

.main_section {
    background-color: #333;
}

/* For screens */
#loading_screen {
    position: absolute;
    width: 100%;
    height: 100%;
}

#lobby_screen {
    display: none;
    width: 100%;
    height: 100%;
    background-color: #6CA7D4;
}

#playing_screen {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
}

/* For menu */
.menu_top {
    color: #fff;
    background-color: #7D7D7D;
    text-decoration: none;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
}

.menu ul { display: none; } /* Hide before plugin loads */

.menu ul.dropit-submenu {
    background-color: #fff;
    border: 1px solid #b2b2b2;
    padding: 6px 0;
    margin: 3px 0 0 1px;
    width: 90px;
    margin-left: -90px;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.15);
       -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.15);
            box-shadow: 0px 1px 3px rgba(0,0,0,0.15);
}

.menu ul.dropit-submenu a {
    display: block;
    font-size: 14px;
    line-height: 25px;
    color: #7a868e;
    padding: 0 18px;
}

.menu ul.dropit-submenu a:hover {
    background: #248fc1;
    color: #fff;
    text-decoration: none;
}

/* For lobby_screen */

#header {
    width: 100%;
    height: 2.5em;
    background-color: #323232;
    display: table;
}

#header_inner {
    margin-left: auto;
    margin-right: auto;
    max-width: 680px;
}

#content {
    display: block;
    min-height: 100%;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    max-width: 720px;
}

/*
@media screen and (max-width: 960px) {
    #content {
        width: 100%;
    }
}

@media screen and (min-width: 960px) {
    #content {
        width: 960px;
    }
}
*/

#player_select_area {
    display: table;
    width: 100%;
}

#rightside {
    margin-left: 50%;
    width: 50%;
    background-color: transparent;
    padding: 10px;
    border: 10px solid transparent;
    box-sizing: border-box;
}

#leftside {
    width: 50%;
    background-color: transparent;
    float: left;
    padding: 10px;
    border: 10px solid transparent;
    box-sizing: border-box;
}

#chat_area_l {
    padding: 10px;
}

#controlarea {
    padding: 10px;
}

#start_button_area {
    padding-top: 30px;
    text-align: center;
}

#chat_view_l {
    width: 90%;
    height: 300px;
    padding: 10px;
    margin: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size:0.8em;
    overflow: auto;
}

#chat_input_area_l {
    position: relative;
}

#chat_textbox_l {
    width: 60%;
    padding:0.2em;
    font-size:0.8em;
    font-family:sans-serif;
    color:#555;
    border:solid 1px #ccc;
    margin:10px;
    border-radius: 5px;
}

#chat_textbox_l:focus {
    outline: solid 1px transparent;
    border: solid 1px #060;
}

#diceroll {
    position: absolute;
    width: 20px;
    height: 32px;
    margin: 10px;
    right: 10px;
    top: 0;
    float: right;
    background-color: transparent;
}

#not_player_area, #player_area {
    float: left;
    width: 50%;
    background-color: transparent;
    border: 10px solid transparent;
    box-sizing: border-box;
}

#player_tag, #not_player_tag {
    padding-left: 6px;
}

#player_list_area, #not_player_list_area {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#player_list, #not_player_list {
    list-style-type: none;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.sortable_player_name {
    background-color: #ddd;
    margin: 3px;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.15);
       -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.15);
            box-shadow: 0px 1px 3px rgba(0,0,0,0.15);
    padding-left: 10px;
}

#menu {
    float: right;
    padding-left: 10px;
    text-align: left;
}

#menu_inner {
    display: table-cell;
    height: 40px;
    vertical-align: middle;
}

#title {
    float: left;
    color: #fff;
    font-size: x-large;
    text-align: center;
    vertical-align: middle;
    padding-right: 10%;
}

.room_member_list {
    overflow: scroll;
    box-sizing: border-box;
    height: 180px;
    width: 100%;
    margin: 2px;
    padding-left: 10px;
    padding-right: 10px;
}

.anchor_button {
    text-decoration: none;
    margin: 10px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    background-color: #323232;
    color: #fff;
    -webkit-border-radius: 7px;
       -moz-border-radius: 7px;
            border-radius: 7px;
    -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.15);
       -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.15);
            box-shadow: 0px 1px 3px rgba(0,0,0,0.15);
}

#die_img {
    height: 24px;
    width: 24px;
}

/* For playing_screen */

#board_container {
    width: 960;
    height: 704;
    position: relative;
}

#board {
    width: 960;
    height: 704;
}

#overlay {
    position: absolute;
    top: 30%;
    left: 0%;
    width: 100%;
    height: 40%;
}

.log_area {
    position: absolute;
    font-family: sans-serif;
    font-size: 12px;
    background-color: rgb(209,209,209);
    padding: 10px 8px 16px 16px;
    overflow: auto;
}

#systemlog_area {
    position: absolute;
    left: 0;
    top: 152px;
    width: 192px;
    height: 198px;
}

#chat_area {
    position: absolute;
    left: 0;
    top: 392px;
    width: 192px;
    height: 176px;
}

#chat_textbox {
    position: absolute;
    left: 0;
    top: 596px;
    width: 216px;
    font-family: sans-serif;
    font-size: 12px;
    background-color: rgb(209, 209, 209);
}

#hint_area {
    position: absolute;
    left: 0;
    top: 632px;
    width: 200px;
    height: 60px;
    font-family: sans-serif;
    font-size: 12px;
    background-color: rgb(209,209,209);
    overflow: auto;
}

#back_button {
  position: absolute;
  display: none;
  left: 50px;
  top: 640px;
  width: 100px;
  height: 30px;
  font-family: sans-serif;
  font-size: 18px;
}

#authority_transfer_screen {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(80,80,80,0.9);
    display: none;
}

#authority_transfer_form {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 300px;
    height: 100px;
    margin: auto;
    background-color: white;
}

.player0 {
    color: rgb(194,58,48);
}

.player1 {
    color: rgb(72,75,223);
}

.player2 {
    color: rgb(175,143,0);
}

.player3 {
    color: rgb(0,128,0);
}

#loading_message1 {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
};

#loading_message2 {
    display: table-cell;
    height: 32px;
    vertical-align: middle;
}
