<div id='description_area', class='main_section'>
    <h1>ようこそ</h1>
    <div>
        ようこそ！<br/>
        アカウントは新しく作られました。必要な情報を登録してください。
    </div>
    <hr/>
    <div id='registry_form'>
        <%= form_tag('/registry/register') { %>
            <div>
                <%= label_tag 'name', 'ユーザー名', class: 'before_box' %>
                <%= text_field_tag 'name', current_user.name %>
            </div>
            <div id='button_area'>
                <%= submit_tag '登録', class: 'anchor_button' %>
            </div>
        <% } %>
    </div>
</div>


