<div id='description_area', class='main_section'>
    <h1>アカウント情報変更</h1>
    <div>
        アカウントの情報を変更できます。
    </div>
    <hr/>
    <div id='change_form'>
        <%= form_tag('/registry/register') { %>
            <div>
                <%= label_tag 'name', 'ユーザー名', class: 'before_box' %>
                <%= text_field_tag 'name', current_user.name %>
            </div>
            <div id='button_area'>
                <%= submit_tag '変更', class: 'anchor_button' %>
            </div>
        <% } %>
    </div>
</div>
