<!DOCTYPE html>
<html>
<head>
  <title>Online Catan</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id='header'>
    <div id='logo_area'>
        <h1>Online Catan</h1>
    </div>
    <div id='login_area'>
        <% if current_user %>
            <%= current_user.name %>
            <%= link_to 'アカウント設定', setting_path %>
            <%= link_to 'ログアウト', logout_path %>
        <% else %>
            <%= link_to 'ログイン', '/auth/twitter' %>
        <% end %>
    </div>
</div>
<div id='content'>
    <%= yield %>
</div>
<div id='footer'>
</div>

</body>
</html>
