<!DOCTYPE html>
<html>
<head>
  <title>Online Catan</title>
  <%= stylesheet_link_tag    'home', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'home', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id='header'>
    <div id='header_inner'>
        <div id='logo_area'>Online Catan</div>
        <div id='login_area'>
            <div id='login_area_inner'>
                <% if current_user %>
                    <%= current_user.name %>
                    <%= link_to 'アカウント設定', setting_path, class: 'anchor_button' %>
                    <%= link_to 'ログアウト', logout_path, class: 'anchor_button', id: 'loginout_button' %>
                <% else %>
                    <%= link_to 'ログイン', '/auth/twitter', class: 'anchor_button', id: 'loginout_button' %>
                <% end %>
            </div>
        </div>
    </div>
</div>
<div id='content'>
    <%= yield %>
</div>
<div id='footer'>
</div>

</body>
</html>
