<!DOCTYPE html>
<html>
<head>
  <title>Online Catan</title>
  <%= stylesheet_link_tag    'home', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'registry', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'home', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id='header'>
    <div id='logo_area'>Online Catan</div>
</div>

<div id='content'>
    <%= yield %>
</div>

<div id='footer'>
</div>

</body>
</html>
