<!DOCTYPE html>
<html>
<head>
  <title>Online Catan</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:900,500,100,300,700|Roboto+Condensed:700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'room', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'room', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
